package java.lang;

public interface CharSequence {
	
	public char charAt(int arg0);
	
	public int length();
	
	public java.lang.CharSequence subSequence(int arg0, int arg1);
	
	public java.lang.String toString();
}

