package com.pump.xray;

static class DummyClass<T> extends java.lang.Object {
	 class Operation<R> extends java.lang.Object {
		
		 Operation() {
			super();
		}
		
		public R run() {
			return null;
		}
	}
	
	
	 DummyClass() {
		super();
	}
	
	protected <R> R execute(Operation<R> arg0) {
		return null;
	}
}

