package java.lang;

public class Object {
	
	public java.lang.Object() {
	}
	
	native protected java.lang.Object clone() throws java.lang.CloneNotSupportedException;
	
	protected void finalize() throws java.lang.Throwable {
	}
	
	public boolean equals(java.lang.Object arg0) {
		return false;
	}
	
	public final native java.lang.Class getClass();
	
	public final native void notify();
	
	public final native void notifyAll();
	
	public final native void wait(long arg0) throws java.lang.InterruptedException;
	
	public final void wait() throws java.lang.InterruptedException {
	}
	
	public final void wait(long arg0, int arg1) throws java.lang.InterruptedException {
	}
	
	public java.lang.String toString() {
		return null;
	}
	
	public native int hashCode();
}

